<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <title>Homework 3</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}"/>
</head>
<body>
<script th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.bundle.min.js}"></script>
<div>

    <h1 th:text="'Создать новый заказ от ' + ${order.date}"></h1>
    <div>
        <table>
            <tr>
                <td>Продукт</td>
                <td>Цена</td>
                <td>Количество</td>
            </tr>
            <tr th:each="item : ${details}">
                <td th:text="${item.product.title}">...</td>
                <td th:text="${item.product.cost}">...</td>
                <td th:text="${item.quantity}">...</td>
            </tr>
        </table>
    </div>
    <form method="post" th:action="${path}" >
        <input type="hidden"  th:value="${order}">
        <input type="hidden"  th:value="${path}">
        <table th:border="1" class="table">
            <tr>
                <th>Продукт</th>
                <th>Кол-во</th>
            </tr>
            <tr>
                <td>
                    <select th:name="product_id" >
                        <option th:each="product : ${products}"
                                th:value="${product.productId}"
                                th:text="${product.title}">Продукт</option>
                    </select>
                </td>

                <td><input type="text" name="quantity">
                </td>

            </tr>

        </table>
        <br>
        <input type="submit" value="Добавить в заказ">

    </form>
    <form method="post" th:action="${path}+'/save'">    <input type="submit" value="Сохранить заказ"></form>

    <br>
    <a th:href="'/customers'">К покупателям</a>

</div>
</body>
</html>