<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <title>Homework 3</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}"/>
</head>
<body>
<script th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.bundle.min.js}"></script>


<h1 th:text="${mode}"></h1>
<div>
    <form action="#" th:action="@{/product_edit}" method="post" th:object="${product}">

        <div class="mb-3">

            <input name="productId" id="productId" type="hidden" th:value="${product.productId}">
            <label class="form-label">Наименование</label>
            <input type="text" class="form-control" id="title" th:value="${product.title}" name="title"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Цена</label>
            <input type="text" class="form-control" id="cost" th:value="${product.cost}" name="cost"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Производитель</label>
            <input type="text" class="form-control" id="producer" th:value="${product.producer}" name="producer"/>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn-primary">Сохранить</button>
        </div>
    </form>

</div>
</body>
</html>