<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <title>Homework 3</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}"/>
</head>
<body>
<script th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.bundle.min.js}"></script>
<div>
    <h1>Продукты</h1>
    <h2 th:if="${customer != null}" th:text="'Для пользователя '+${customer.name}"></h2>
    <form method="post" th:action="@{/products}">
        <label for="priceFrom">Цена от </label><input type="text" id="priceFrom" name="priceFrom"
                                                      th:value="${priceFrom}">
        <label for="priceTo"> до </label><input type="text" id="priceTo" name="priceTo" th:value="${priceTo}">
        <br>
        <label for="productTitle">По названию </label><input type="text" id="productTitle" name="productTitle"
                                                             th:value="${productTitle}">
        <br>
        <input type="checkbox" name="sortById" th:text="'Упорядочить по ID'" th:checked="${sortById}">
        <input type="checkbox" name="sortByTitle" th:text="'Упорядочить по названию'" th:checked="${sortByTitle}">
        <input type="checkbox" name="sortByCost" th:text="'Упорядочить по цене'" th:checked="${sortByCost}">
        <input type="checkbox" name="sortByProducer" th:text="'Упорядочить по производителю'"
               th:checked="${sortByProducer}">
        <br>
        <input type="submit" th:value="Фильтр"/><input type="reset" value="Сброс"/>
    </form>
    <br>
    <table th:border="1" class="table">
        <tr>
            <th>ID</th>
            <th>Наименование</th>
            <th>Цена</th>
            <th>Производитель</th>
            <th></th>
        </tr>
        <tr th:each="product : ${products}">
            <td><a href="#" th:href="'product_edit/'+${product.productId}" th:text="${product.productId}">...</a></td>
            <td><a href="#" th:href="'product_edit/'+${product.productId}" th:text="${product.title}">...</a></td>
            <td th:text="${product.cost}"></td>
            <td th:text="${product.producer}"></td>
            <td><a href="#" th:href="'product_delete/'+${product.productId}">Удалить</a></td>
        </tr>
    </table>
    <br>
    <a href="product_add">Добавить продукт</a>
</div>
<br>
<a th:href="'/customers'">К покупателям</a>

</body>
</html>